html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
body {
	opacity: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: rgba(125, 229, 230, 0);  /* #7de5e6ff; */
	font-family: Century Gothic, sans-serif;
	
	-ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
	scrollbar-width: none;  /* Hide scrollbar for Firefox */
	
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
}

body.fade {
	opacity: 0;
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

/* -------------------- MAIN fade START ------------------ */ 


main {
	opacity: 1;
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
	
		
	animation: pagelight2 1s 0.5s forwards;
	-webkit-animation: pagelight2 1s 0.5s forwards;
}

@keyframes pagelight2 {
	0% {background-color: rgba(125, 229, 230, 0);}
	100% {background-color: rgba(125, 229, 230, 1);}
}
@-webkit-keyframes pagelight2 {
	0% {-webkit-background-color: rgba(125, 229, 230, 0);}
	100% {-webkit-background-color: rgba(125, 229, 230, 1);}
}

main.fade {
	opacity: 0;
}


/* -------------------- MAIN fade END ------------------ */ 


.pagewrap {
	flex-grow: 1;  /* https://css-tricks.com/couple-takes-sticky-footer/ */ /* combined with footer vh */
}	
.centersize {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.header {
	background-color: #000000;
	position: fixed;
	top: 0;
	z-index: 99;
	height: 3.05em;
		
	opacity: 1;
	animation: pagelight5 1.5s;
	-webkit-animation: pagelight5 1.5s;
}
.header svg {
	width: 10em;
	display: block;
	height: auto;
	padding-top: .25em;
	padding-bottom: .25em;
}

#largenav {
	display: none;
}

/* --------------Rainbow Logo Section START ------------------ */

#path812-5 {
	opacity: 0;
	animation: ColorRainbow0 0.25s forwards;
	-webkit-animation: ColorRainbow0 0.25s forwards;
}
@keyframes ColorRainbow0 {
	0% {fill: #000000; opacity: 0;}
	100% {fill: #ffffff; opacity: 1;}
}
@-webkit-keyframes ColorRainbow0 {
	0% {-webkit-fill: #000000; opacity: 0;}
	100% {-webkit-fill: #ffffff; opacity: 1;}
}

#path816-3-7 {
	visibility: hidden;
	fill: #ffffff;
	stroke: #ffffff;
	animation: ColorRainbow1 1.5s 0.25s forwards;
	-webkit-animation: ColorRainbow1 1.5s 0.25s forwards;
}
@keyframes ColorRainbow1 {
	0% {fill: #ffffff; stroke: #ffffff; visibility: hidden;}
	50% {fill: #ff7b7bff;}
	100% {fill: #000000; stroke: #ffffff; visibility: visible;}
}
@-webkit-keyframes ColorRainbow1 {
	0% {-webkit-fill: #ffffff; stroke: #ffffff; visibility: hidden;}
	50% {-webkit-fill: #ff7b7bff;}
	100% {-webkit-fill: #000000; stroke: #ffffff; visibility: visible; }
}

#path814-2-0 {
	visibility: hidden;
	fill: #000000;
	animation: ColorRainbow2 1.5s 0.5s forwards;
	-webkit-animation: ColorRainbow2 1.5s 0.5s forwards;
}
@keyframes ColorRainbow2 {
	0% {fill: #000000; visibility: hidden;}
	50% {fill: #ffce75ff;}
	100% {fill: #000000; visibility: visible;}
}
@-webkit-keyframes ColorRainbow2 {
	0% {-webkit-fill: #000000; visibility: visible;}
	50% {-webkit-fill: #ffce75ff;}
	100% {-webkit-fill: #000000; visibility: visible;}
}

#path814-2-7-9-0 {
	animation: ColorRainbow3 1.5s 0.75s forwards;
	-webkit-animation: ColorRainbow3 1.5s 0.75s forwards;
}
@keyframes ColorRainbow3 {
	0% {fill: #000000;}
	50% {fill: #fff788ff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow3 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #fff788ff;}
	100% {-webkit-fill: #ffffff;}
}

#path3 {
	animation: ColorRainbow4 1.5s 1s forwards;
	-webkit-animation: ColorRainbow4 1.5s 1s forwards;
}
@keyframes ColorRainbow4 {
	0% {fill: #000000;}
	50% {fill: #cbff95ff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow4 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #cbff95ff;}
	100% {-webkit-fill: #ffffff;}
}

#path814-2-7-5 {
	animation: ColorRainbow5 1.5s 1.25s forwards;
	-webkit-animation: ColorRainbow5 1.5s 1.25s forwards;
}
@keyframes ColorRainbow5 {
	0% {fill: #000000;}
	50% {fill: #7de5e6ff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow5 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #7de5e6ff;}
	100% {-webkit-fill: #ffffff;}
}

#rect1780-16-6-1-2-8 {
	animation: ColorRainbow6 1.5s 1.5s forwards;
	-webkit-animation: ColorRainbow6 1.5s 1.5s forwards;
}
@keyframes ColorRainbow6 {
	0% {fill: #000000;}
	50% {fill: #7bceffff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow6 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #7bceffff;}
	100% {-webkit-fill: #ffffff;}
}

#path814-2-7-2 {
	animation: ColorRainbow7 1.5s 1.75s forwards;
	-webkit-animation: ColorRainbow7 1.5s 1.75s forwards;
}
@keyframes ColorRainbow7 {
	0% {fill: #000000;}
	50% {fill: #b1b3ffff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow7 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #b1b3ffff;}
	100% {-webkit-fill: #ffffff;}
}

/* --------------Rainbow Logo Section END ------------------ */




.dropclick {
	background-color: #000000;
	width: 3.5em;
	height: 3em;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999;
	visibility: visible;
		
	opacity: 0;
	animation: pagelight5 0.25s 1s forwards;
	-webkit-animation: pagelight5 0.25s 1s forwards;
}
.iching {
	width: 2.5em;
	height: .3em;
	background-color: #FFFFFF;
	margin-top: .525em;
	margin-left: 0.5em;
}
.navbox {
	width: 100%;
	height: 100%;   /* auto for small nav */
	background-color: #000000;
	position: fixed;
	top: 3em;
	left: 0;
	margin-left: 0;
	z-index: 99;
}
#largenav {
	visibility: hidden;
	}
#navshow {
	visibility: hidden;
}
#nav {
	background-color: #000000;
	height: 100%; /* auto original for small nav */
	position: relative;
}
#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#nav ul li {
	float: left;
	clear: left;
	width: 100%;
}
#nav ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Century Gothic, sans-serif;
	font-weight: bold;
	font-size: 10vh; /* 2vw original for small nav */
	/* font-size: 2em; */    /* original for small nav */
	margin: 0;
	padding: 0;
}
#home:hover {
	background-color: #ff7b7bff;
	color: #000000;
}
#about:hover {
	background-color: #ffce75ff;
	color: #000000;
}
#words:hover {
	background-color: #fff788ff;
	color: #000000;
}
#logos:hover {
	background-color: #cbff95ff;
	color: #000000;
}
#photos:hover {
	background-color: #7de5e6ff;
	color: #000000;
}
#art:hover {
	background-color: #7bceffff;
	color: #000000;
}
#contact:hover {
	background-color: #b1b3ffff;
	color: #000000;
}

/* ------------ Photos Section START ---------------- */

.gridcontainer {
	display: grid;
	justify-items: center;
		grid-template-columns: repeat(auto-fill, minmax(auto, 1fr)); /*  https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
	background-color: transparent;
	margin-top: 3em;  /* 2.125em; */ /* 1.35vw */

}

.bubbleup {
	opacity: 1;
	margin-top: 0;
	margin-bottom: 0;
	
	filter: grayscale(100);
	
	-webkit-transition: 0.1s ease-in-out;
	-moz-transition: 0.1s ease-in-out;
	-o-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out;
}

.bubbleup:nth-child(1) {opacity: 0; animation: bubbleup 1s 1.25s forwards; -webkit-animation: bubbleup 1s 1.25s forwards;}
.bubbleup:nth-child(2) {opacity: 0; animation: bubbleup 1s 1.5s forwards; -webkit-animation: bubbleup 1s 1.5s forwards;}
.bubbleup:nth-child(3) {opacity: 0; animation: bubbleup 1s 1.75s forwards; -webkit-animation: bubbleup 1s 1.75s forwards;}
.bubbleup:nth-child(4) {opacity: 0; animation: bubbleup 1s 2s forwards; -webkit-animation: bubbleup 1s 2s forwards;}
.bubbleup:nth-child(5) {opacity: 0; animation: bubbleup 1s 2.25s forwards; -webkit-animation: bubbleup 1s 2.25s forwards;}
.bubbleup:nth-child(6) {opacity: 0; animation: bubbleup 1s 2.5s forwards; -webkit-animation: bubbleup 1s 2.5s forwards;}
.bubbleup:nth-child(7) {opacity: 0; animation: bubbleup 1s 2.75s forwards; -webkit-animation: bubbleup 1s 2.75s forwards;}
.bubbleup:nth-child(8) {opacity: 0; animation: bubbleup 1s 3s forwards; -webkit-animation: bubbleup 1s 3s forwards;}
.bubbleup:nth-child(9) {opacity: 0; animation: bubbleup 1s 3.25s forwards; -webkit-animation: bubbleup 1s 3.25s forwards;} 
.bubbleup:nth-child(10) {opacity: 0; animation: bubbleup 1s 3.5s forwards; -webkit-animation: bubbleup 1s 3.5s forwards;;}
.bubbleup:nth-child(11) {opacity: 0; animation: bubbleup 1s 3.75s forwards; -webkit-animation: bubbleup 1s 3.75s forwards;}
.bubbleup:nth-child(12) {opacity: 0; animation: bubbleup 1s 4s forwards; -webkit-animation: bubbleup 1s 4s forwards;}
.bubbleup:nth-child(13) {opacity: 0; animation: bubbleup 1s 4.25s forwards; -webkit-animation: bubbleup 1s 4.25s forwards;}
.bubbleup:nth-child(14) {opacity: 0; animation: bubbleup 1s 4.5s forwards; -webkit-animation: bubbleup 1s 4.5s forwards;}
.bubbleup:nth-child(15) {opacity: 0; animation: bubbleup 1s 4.75s forwards; -webkit-animation: bubbleup 1s 4.75s forwards;}
.bubbleup:nth-child(16) {opacity: 0; animation: bubbleup 1s 5s forwards; -webkit-animation: bubbleup 1s 5s forwards;}
.bubbleup:nth-child(17) {opacity: 0; animation: bubbleup 1s 5.25s forwards; -webkit-animation: bubbleup 1s 5.25s forwards;}
.bubbleup:nth-child(18) {opacity: 0; animation: bubbleup 1s 5.5s forwards; -webkit-animation: bubbleup 1s 5.5s forwards;}
.bubbleup:nth-child(19) {opacity: 0; animation: bubbleup 1s 5.75s forwards; -webkit-animation: bubbleup 1s 5.75s forwards;}
.bubbleup:nth-child(20) {opacity: 0; animation: bubbleup 1s 6s forwards; -webkit-animation: bubbleup 1s 6s forwards;}
.bubbleup:nth-child(21) {opacity: 0; animation: bubbleup 1s 6.25s forwards; -webkit-animation: bubbleup 1s 6.25s forwards;}
.bubbleup:nth-child(22) {opacity: 0; animation: bubbleup 1s 6.5s forwards; -webkit-animation: bubbleup 1s 6.5s forwards;}

@keyframes bubbleup {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes bubbleup {
	0% {-webkit-opacity: 0;}
	100% {-webkit-opacity: 1;}
}

.bubbleup:hover {
	filter: grayscale(0);
}

.videosaturate:hover {
	filter: saturate(1.75);
}

/* ------------ Photos Section END ---------------- */

footer {
	/* margin-top: 3vh; */
	width: 100%;
	height: 3vh;
	line-height: 3vh;
	font-size: 2.5vh;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #000000;
	
	opacity: 1;
	animation: pagelight5 1.5s;
	-webkit-animation: pagelight5 1.5s;
	
	
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
	
}

@keyframes pagelight5 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes pagelight5 {
	0% {-webkit-opacity: 0;}
	100% {-webkit-opacity: 1;}
}

footer.fade {
	opacity: 0;
}

.rainbow {
	background: linear-gradient(50deg, #fbf788ff, #e8f788ff, #cbff95ff, #a2ffb2ff, #7df7c3ff, #7df0e6ff, #7de5eeff, #7df0e6ff, #7df7c3ff, #a2ffb2ff, #cbff95ff, #e8f788ff);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	background-size: 50% 50%;  /* or 300% */
	
	
	animation: rainbow 30s ease-in-out infinite;
	-webkit-animation: rainbow 30s infinite;
}

@keyframes rainbow {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
@-webkit-keyframes rainbow {
	0% {-webkit-background-position: 0 50%;}
	50% {-webkit-background-position: 100% 50%;}
	100% {-webkit-background-position: 0 50%;}
}






/* ---------------------------------------------------- MEDIA Queries NAV START -------------------------------------------------------- */


/* ------------------------- 768 px START ------------------------- */

@media screen and (max-width: 768px) {
	
	#nav ul li a {
		font-size: calc(15vh - 6vw);
	}
	
}

/* ------------------------- 768 px END ------------------------- */

/* ------------------------- 662 px START ------------------------- */

@media screen and (max-width: 662px) {

	#nav ul li a {
		font-size: calc(13vh - 3vw);
	}

}

/* ------------------------- 662 px END ------------------------- */


/* ------------------------- 441 px START ------------------------- */

@media screen and (max-width: 441px) {

	#nav ul li a {
		font-size: calc(13vh - 4vw);
	}

}

/* ------------------------- 441 px END ------------------------- */

/* ------------------------- 430 px START ------------------------- */

@media screen and (max-width: 430px) {
	
	#nav ul li a {
		font-size: calc(12vh - 6vw);
	}
	
}

/* ------------------------- 430 px END ------------------------- */

/* ------------------------- 381 px START ------------------------- */

@media screen and (max-width: 381px) {

	#nav ul li a {
		font-size: calc(13vh - 6vw);
	}

}

/* ------------------------- 381 px END ------------------------- */

/* ------------------------- 368 px START ------------------------- */

@media screen and (max-width: 368px) {
	
	#nav ul li a {
		font-size: calc(12vh - 6vw);
	}
	
}

/* ------------------------- 360 px END ------------------------- */


/* ------------------------- 345 px START ------------------------- */

@media screen and (max-width: 345px) {

	#nav ul li a {
		font-size: calc(13vh - 6vw);
	}

}

/* ------------------------- 345 px END ------------------------- */

/* ------------------------- 344 px START ------------------------- */

@media screen and (max-width: 345px) {

	#nav ul li a {
		font-size: calc(10vh - 6vw);
	}

}

/* ------------------------- 344 px END ------------------------- */

/* ------------------------- 332 px START ------------------------- */

@media screen and (max-width: 332px) {
	
	#nav ul li a {
		font-size: calc(13vh - 10vw);
	}
}

/* ------------------------- 332 px END ------------------------- */

/* ------------------------- 320 px START ------------------------- */

@media screen and (max-width: 320px) {

	#nav ul li a {
		font-size: calc(13vh - 10vw);
	}
}

/* ------------------------- 320 px END ------------------------- */

/* ---------------------------------------------------- MEDIA Queries NAV END -------------------------------------------------------- */