html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
body {
	opacity: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: rgba(177, 179, 255, 0); /* #b1b3ffff; */
	font-family: "century-gothic", sans-serif;
	font-style: normal;
	
	-ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
	scrollbar-width: none;  /* Hide scrollbar for Firefox */
	
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
}

body.fade {
	opacity: 0;
}

::-webkit-scrollbar {
	display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

/* -------------------- MAIN fade START ------------------ */ 


main {
	opacity: 1;
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
	
		
	animation: pagelight2 1s 0.5s forwards;
	-webkit-animation: pagelight2 1s 0.5s forwards;
}

@keyframes pagelight2 {
	0% {background-color: rgba(177, 179, 255, 0);}
	100% {background-color: rgba(177, 179, 255, 1);}
}
@-webkit-keyframes pagelight2 {
	0% {-webkit-background-color: rgba(177, 179, 255, 0);}
	100% {-webkit-background-color: rgba(177, 179, 255, 1);}
}

main.fade {
	opacity: 0;
}


/* -------------------- MAIN fade END ------------------ */ 


.pagewrap {
	flex-grow: 1;  /* https://css-tricks.com/couple-takes-sticky-footer/ */ /* combined with footer vh */
}	
.centersize {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}


/* for original img for logo png or svg ease */
/*
.header img, .banner img {
	width: 100%;
	height: auto;
	padding-top: 1em;
	padding-bottom: 1em;
}
 */
 
.header {
	background-color: #000000;
	position: fixed;
	top: 0;
	z-index: 99999999;
	height: 1.75vw;
	width: 10%;
}
.header svg {
	width: auto;
	height: 1.75vw;
	margin-top: 0.25vh;

}


/* --------------Rainbow Logo Section START ------------------ */


#path812-5 {
	opacity: 0;
	animation: ColorRainbow0 0.25s forwards;
	-webkit-animation: ColorRainbow0 0.25s forwards;
}
@keyframes ColorRainbow0 {
	0% {fill: #000000; opacity: 0;}
	100% {fill: #ffffff; opacity: 1;}
}
@-webkit-keyframes ColorRainbow0 {
	0% {-webkit-fill: #000000; opacity: 0;}
	100% {-webkit-fill: #ffffff; opacity: 1;}
}

#path816-3-7 {
	visibility: hidden;
	fill: #ffffff;
	stroke: #ffffff;
	animation: ColorRainbow1 0.5s 0.14s forwards;
	-webkit-animation: ColorRainbow1 0.5s 0.14s forwards;
}
@keyframes ColorRainbow1 {
	0% {fill: #ffffff; stroke: #ffffff; visibility: hidden;}
	50% {fill: #ff7b7bff;}
	100% {fill: #000000; stroke: #ffffff; visibility: visible;}
}
@-webkit-keyframes ColorRainbow1 {
	0% {-webkit-fill: #ffffff; stroke: #ffffff; visibility: hidden;}
	50% {-webkit-fill: #ff7b7bff;}
	100% {-webkit-fill: #000000; stroke: #ffffff; visibility: visible; }
}

#path814-2-0 {
	visibility: hidden;
	fill: #000000;
	animation: ColorRainbow2 0.5s 0.28s forwards;
	-webkit-animation: ColorRainbow2 0.5s 0.28s forwards;
}
@keyframes ColorRainbow2 {
	0% {fill: #000000; visibility: hidden;}
	50% {fill: #ffce75ff;}
	100% {fill: #000000; visibility: visible;}
}
@-webkit-keyframes ColorRainbow2 {
	0% {-webkit-fill: #000000; visibility: visible;}
	50% {-webkit-fill: #ffce75ff;}
	100% {-webkit-fill: #000000; visibility: visible;}
}

#path814-2-7-9-0 {
	animation: ColorRainbow3 0.5s 0.42s forwards;
	-webkit-animation: ColorRainbow3 0.5s 0.42s forwards;
}
@keyframes ColorRainbow3 {
	0% {fill: #000000;}
	50% {fill: #fff788ff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow3 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #fff788ff;}
	100% {-webkit-fill: #ffffff;}
}

#path3 {
	animation: ColorRainbow4 0.5s 0.56s forwards;
	-webkit-animation: ColorRainbow4 0.5s 0.56s forwards;
}
@keyframes ColorRainbow4 {
	0% {fill: #000000;}
	50% {fill: #cbff95ff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow4 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #cbff95ff;}
	100% {-webkit-fill: #ffffff;}
}

#path814-2-7-5 {
	animation: ColorRainbow5 0.5s 0.7s forwards;
	-webkit-animation: ColorRainbow5 0.5s 0.7s forwards;
}
@keyframes ColorRainbow5 {
	0% {fill: #000000;}
	50% {fill: #7de5e6ff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow5 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #7de5e6ff;}
	100% {-webkit-fill: #ffffff;}
}

#rect1780-16-6-1-2-8 {
	animation: ColorRainbow6 0.5s 0.84s forwards;
	-webkit-animation: ColorRainbow6 0.5s 0.84s forwards;
}
@keyframes ColorRainbow6 {
	0% {fill: #000000;}
	50% {fill: #7bceffff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow6 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #7bceffff;}
	100% {-webkit-fill: #ffffff;}
}

#path814-2-7-2 {
	animation: ColorRainbow7 0.5s 1s forwards;
	-webkit-animation: ColorRainbow7 0.5s 1s forwards;
}
@keyframes ColorRainbow7 {
	0% {fill: #000000;}
	50% {fill: #b1b3ffff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow7 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #b1b3ffff;}
	100% {-webkit-fill: #ffffff;}
}


/* --------------Rainbow Logo Section END ------------------ */



.navbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 99999;
	background-color: #000000;
}
#largenav {
	visibility: visible;
}

#navshow {
	visibility: hidden;
	display: none;
}
#nav {
	background-color: #000000;
	height: auto;
}
#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#nav ul li {
	float: left;
	width: 14.285714285714285714285714285714%;
}
#nav ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.75vw;
	/* font-size: 2em; */
	margin: 0;
	padding: 0;
}
.navhover {
	-webkit-transition: .20s ease-in-out;
	-moz-transition: .20s ease-in-out;
	-o-transition: .20s ease-in-out;
	transition: .20s ease-in-out;
}

#home {
	-webkit-transition: .20s ease-in-out;
	-moz-transition: .20s ease-in-out;
	-o-transition: .20s ease-in-out;
	transition: .20s ease-in-out;
}

#home:hover {
	color: #ff7b7bff;
}

#about:hover {
	color: #ffce75ff;
} 
#words:hover {
	color: #fff788ff;
}
#logos:hover {
	color: #cbff95ff;
}
#photos:hover {
	color: #7de5e6ff;
}
#art:hover {
	color: #7bceffff;
}

#contact {
	animation: pagelight 1s 0.5s forwards;
	-webkit-animation: pagelight 1s 0.5s forwards;

}
@keyframes pagelight {
	0% {background-color: black; color: white;}
	100% {background-color: #b1b3ffff; color: black;}
}
@-webkit-keyframes pagelight {
	0% {-webkit-background-color: black; color: white;}
	100% {-webkit-background-color: #b1b3ffff; color: black;}
}

#contact.reverse {
	animation: pagedark 0.5s forwards;
	-webkit-animation: pagedark 0.5s forwards;
}

@keyframes pagedark {
	0% {background-color: #b1b3ffff; color: black;}
	100% {background-color: black; color: white;}
}
@-webkit-keyframes pagedark {
	0% {-webkit-background-color: #b1b3ffff; color: black;}
	100% {-webkit-background-color: black; color: white;}
}

.dropclick {
	visibility: hidden;
	z-index: 9999999;
}

/* ---------------- CONTACT FORM START ------------------- */

.position {
	margin-top: 8%;
	margin-bottom: 5%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.contactcard {
	border: 1.25rem black solid;
	background-color: #ffffff;
	padding: 1em;
	width: 37.5vw;
	height: auto;
	
	display: flex;
	flex-direction: column;
	gap: 1em;
	
	opacity: 0;
	animation: pagelight5 1.5s 1s forwards;
	-webkit-animation: pagelight5 1.5s 1s forwards;
	
}
.contact_title {
	margin: 0;
}
.contact_title_span {
	padding: 0 0.3em 0 0.3em;
	border: 0.1em solid black;
	background-color: black;
	color: white;
	font-weight: 400;
}
.field {
	border: 0.625rem black solid;
	background-color: #ffffff;
	padding: 1em;
	width: auto;
	
	outline: none;
	
	font-family: Century Gothic, Times new Roman, sans-serif;

}
.field:focus {
	background: linear-gradient(270deg, #ffffff, #b1b3ffff);  /*  background-color: #b1b3ffff;  or  background: linear-gradient(270deg, #ffffff, #b1b3ffff);  */
	color: #000000;
	font-style: italic;
}
.field::placeholder {
	font-style: italic;
}
.textbox {
	height: 20vh;
}
.field, .textbox {
	font-size: 110%;
}

.submit {
	padding: 0 0.3em 0 0.3em;
	border: 0.1em solid black;
	background-color: #000000;
	color: #ffffff;
	font-weight: 400;
	
	font-family: Century Gothic, Times new Roman, sans-serif;
	font-size: 150%;
	width: 5em;
	height: 2em;
	
	cursor: pointer;
	
	margin-left: auto;
}

.submit img {
	width: 1em;
	height: auto;
}

#svg1 {
	width: 120%;
	height: auto;
}

#g2127-36-6 {
	opacity: 0;
	animation: pagelight5 1.5s 1.25s forwards;
	-webkit-animation: pagelight5 1.5s 1.25s forwards;
}

#g971-1-7-9-4-0-8 {
	opacity: 0;
	animation: pagelight5 1.5s 1.45s forwards;
	-webkit-animation: pagelight5 1.5s 1.45s forwards;
}

#path816-3-9-4-8-2 {
	opacity: 0;
	animation: pagelight5 1.5s 1.65s forwards;
	-webkit-animation: pagelight5 1.5s 1.65s forwards;
}

#g971-1-7-2-0-3 {
	opacity: 0;
	animation: pagelight5 1.5s 1.85s forwards;
	-webkit-animation: pagelight5 1.5s 1.85s forwards;
}

#rect1780-16-6-1-2-8-5-8 {
	opacity: 0;
	animation: pagelight5 1.5s 2.05s forwards;
	-webkit-animation: pagelight5 1.5s 2.05s forwards;
}

#g971-1-7-1-6-2-9 {
	opacity: 0;
	animation: pagelight5 1.5s 2.25s forwards;
	-webkit-animation: pagelight5 1.5s 2.25s forwards;	
	
}


/* ---------------- CONTACT FORM END ------------------- */

footer {
	/* margin-top: 3vh; */
	width: 100%;
	height: 3vh;
	line-height: 3vh;
	font-size: 2.5vh;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #000000;
	
	
	opacity: 1;
	animation: pagelight5 1.5s;
	-webkit-animation: pagelight5 1.5s;
	
	
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
	
	
}

@keyframes pagelight5 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes pagelight5 {
	0% {-webkit-opacity: 0;}
	100% {-webkit-opacity: 1;}
}

footer.fade {
	opacity: 0;
}

.rainbow {
	background: linear-gradient(50deg, #fbf788ff, #e8f788ff, #cbff95ff, #a2ffb2ff, #7df7c3ff, #7df0e6ff, #7de5eeff, #7df0e6ff, #7df7c3ff, #a2ffb2ff, #cbff95ff, #e8f788ff);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	background-size: 50% 50%;   /* or 300% */	
	animation: rainbow 30s ease-in-out infinite;
	-webkit-animation: rainbow 30s infinite;
}

@keyframes rainbow {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
@-webkit-keyframes rainbow {
	0% {-webkit-background-position: 0 50%;}
	50% {-webkit-background-position: 100% 50%;}
	100% {-webkit-background-position: 0 50%;}
}


/* https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */


/* ---------------------------------------- SUCCESS PAGE START -------------------------------------- */

.central {
	text-align: center;
	margin: 0;
	padding: 0;
		
	display: flex;	
	height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
	
	background-color: rgba(177, 179, 255, 1);
	
	animation: pagepurple 1.5s forwards;
	-webkit-animation: pagepurple 1.5s forwards;
}

@keyframes pagepurple {
	0% {background-color: rgba(177, 179, 255, 1);}
	100% {background-color: rgba(177, 179, 255, 0);}
}
@-webkit-keyframes pagepurple {
	0% {-webkit-background-color: rgba(177, 179, 255, 1);}
	100% {-webkit-background-color: rgba(177, 179, 255, 0);}
}


.success1{
	border: 1.25rem black solid;
	background-color: #ffffff;
	padding: 1em;
	width: auto;
	height: auto;
	
	opacity: 0;
	animation: purplecard 1.5s 0.5s forwards;
	-webkit-animation: purplecard 1.5s 0.5s forwards;
}

@keyframes purplecard {
	0% {background-color: rgba(177, 179, 255, 0); opacity: 0;}
	100% {background-color: rgba(177, 179, 255, 1); opacity: 1;}
}
@-webkit-keyframes purplecard {
	0% {-webkit-background-color: rgba(177, 179, 255, 0); opacity: 0;}
	100% {-webkit-background-color: rgba(177, 179, 255, 1); opacity: 1;}
}

.success2 {
	font-size: 150%;
	line-height: 0.75em;
}
.success4 {
	text-decoration: none;
	
	font-size: 150%;
	
	padding: 0 0.3em 0 0.3em;
	border: 0.15em solid black;
	background-color: white;
	color: #000000;
	font-weight: 500;
	
}

.s1 {
	width: auto;
	height: auto;
	opacity: 0;
	animation: pagelight5 1s 0.75s forwards, bounce1 0.6s 3.35s ease-out;
	-webkit-animation: pagelight5 1s 0.75s forwards, bounce1 0.6s 3.35s ease-out;
}
.s2 {
	opacity: 0;
	animation: pagelight5 1s 1s forwards;
	-webkit-animation: pagelight5 1s 1s forwards;
}
.s3 {
	opacity: 0;
	animation: pagelight5 1s 1.25s forwards;
	-webkit-animation: pagelight5 1s 1.25s forwards;
}
.s4 {
	opacity: 0;
	animation: pagelight5 1s 1.5s forwards;
	-webkit-animation: pagelight5 1s 1.5s forwards;
}
.s5 {
	opacity: 0;
	animation: pagelight5 1s 1.75s forwards;
	-webkit-animation: pagelight5 1s 1.75s forwards;
}

.angle {
	opacity: 0;
	position: absolute;
	top: 50%;
	
	border: 1.25rem black solid;
	background-color: #ffffff;
	padding: 1em;
	width: 5em;
	height: 20vh;
}
.spire6 {
	margin-left: 1em;
	z-index: -2;
	transform: rotate(10deg);
	background-color: #7bceffff;
	
	animation: six 1s 2s forwards;
	-webkit-animation: six 1s 2s forwards;
}

@keyframes six {
	0% {transform: rotate();}
	20% {opacity: 1;}
	70% {transform: rotate(13deg); margin-top: 20vh; opacity: 1;}
	99% {transform: rotate(1deg); margin-top: -1em; opacity: 1;}
	100% {opacity: 0;}
}
@-webkit-keyframes six {
	0% {-webkit-transform: rotate();}
	20% {opacity: 1;}
	70% {-webkit-transform: rotate(13deg); margin-top: 20vh;opacity: 1;}
	99% {-webkit-transform: rotate(0deg); margin-top: -1em;opacity: 1;}
	100% {opacity: 0; visibility: hidden;}
}

.spire5 {
	margin-left: -2em;
	z-index: -3;
	transform: rotate(20deg);
	background-color: #7de5e6ff;
	
	animation: five 1s 2.25s forwards;
	-webkit-animation: five 1s 2.25s forwards;
}

@keyframes five {
	0% {transform: rotate();}
	20% {opacity: 1;}
	70% {transform: rotate(63deg); margin-top: -50vh; opacity: 1; }
	99% {transform: rotate(0deg); margin-top: -1em; opacity: 1; }
	100% {opacity: 0; visibility: hidden;}
}
@-webkit-keyframes five {
	0% {-webkit-transform: rotate();}
	20% {opacity: 1;}
	70% {-webkit-transform: rotate(63deg); margin-top: -50vh; opacity: 1;}
	99% {-webkit-transform: rotate(0deg); margin-top: -1em; opacity: 1;}
	100% {opacity: 0; visibility: hidden;}
}

.spire4 {
	z-index: -4;
	margin-left: -5em;
	transform: rotate(30deg);
	background-color: #cbff95ff;
		
	animation: four 1s 2.5s forwards;
	-webkit-animation: four 1s 2.5s forwards;
}

@keyframes four {
	0% {transform: rotate();}
	20% {opacity: 1;}
	70% {transform: rotate(83deg); margin-left: 60vw; opacity: 1;}
	99% {transform: rotate(0deg); margin-left: -1em; margin-top: -1em; opacity: 1;}
	100% {opacity: 0; visibility: hidden;}
}
@-webkit-keyframes four {
	0% {-webkit-transform: rotate();}
	20% {opacity: 1;}
	70% {-webkit-transform: rotate(83deg); margin-left: 60vw; opacity: 1;}
	99% {-webkit-transform: rotate(0deg); margin-left: -1em; margin-top: -1em; opacity: 1;}
	100% {opacity: 0; visibility: hidden;}
}

.spire3 {
	margin-left: 1em;
	z-index: -5;
	transform: rotate(-10deg);
	background-color: #fff788ff;
			
	animation: three 1s 2.1s forwards;
	-webkit-animation: three 1s 2.1s forwards;
}

@keyframes three {
	0% {transform: rotate();}
	20% {opacity: 1;}
	70% {transform: rotate(-43deg); margin-right: 60vw; margin-top: -20vh; opacity: 1;}
	99% {transform: rotate(0deg); margin-right: 1em; margin-top: -1em; opacity: 1;}
	100% {opacity: 0; visibility: hidden;}
}
@-webkit-keyframes three {
	0% {-webkit-transform: rotate();}
	20% {opacity: 1;}
	70% {-webkit-transform: rotate(-43deg); margin-right: 60vw; margin-top: -20vh; opacity: 1;}
	99% {-webkit-transform: rotate(0deg); margin-right: 1em; margin-top: -1em; opacity: 1;}
	100% {opacity: 0; visibility: hidden;}
}
.spire2 {
	margin-left: 2em;
	z-index: -6;
	transform: rotate(-20deg);
	background-color: #ffce75ff;
				
	animation: two 1s 2.35s forwards;
	-webkit-animation: two 1s 2.35s forwards;
}

@keyframes two {
	0% {transform: rotate();}
	20% {opacity: 1;}
	70% {transform: rotate(-73deg); margin-right: 40vw; margin-top: 30vh; opacity: 1;}
	99% {transform: rotate(0deg); margin-right: 0; margin-top: -1em; opacity: 1;}
	100% {opacity: 0; visibility: hidden;}
}
@-webkit-keyframes two {
	0% {-webkit-transform: rotate();}
	20% {opacity: 1;}
	70% {-webkit-transform: rotate(-73deg); margin-right: 40vw; margin-top: 30vh; opacity: 1;}
	99% {-webkit-transform: rotate(0deg); margin-right: 0; margin-top: -1em; opacity: 1;}
	100% {opacity: 0; visibility: hidden;}
}
.spire1 {
	margin-left: 5em;
	z-index: -7;
	transform: rotate(-30deg);
	background-color: #ff7b7bff;
					
	animation: one 1s 2.6s forwards;
	-webkit-animation: one 1s 2.6s forwards;
}

@keyframes one {
	0% {transform: rotate();}
	20% {opacity: 1;}
	70% {transform: rotate(-33deg); margin-left: 30vw; margin-top: 25vh; opacity: 1;}
	99% {transform: rotate(0deg); margin-left: 0; margin-top: -1em; opacity: 1;}
	100% {opacity: 0; visibility: hidden;}
}
@-webkit-keyframes one {
	0% {-webkit-transform: rotate();}
	20% {opacity: 1;}
	70% {-webkit-transform: rotate(-33deg); margin-left: 30vw; margin-top: 25vh; opacity: 1;}
	99% {-webkit-transform: rotate(0deg); margin-left: 0; margin-top: -1em; opacity: 1;}
	100% {opacity: 0; visibility: hidden;}
}

@keyframes bounce1 {
	0% {transform: scale(1.0);}
	25% {transform: scale(1.2);}
	50% {transform: scale(1.0);}
	75% {transform: scale(1.1);}
	100% {transform: scale(1.0);}
}
@-webkit-keyframes bounce1 {
	0% {-webkit-transform: scale(1.0);}
	25% {-webkit-transform: scale(1.2);}
	50% {-webkit-transform: scale(1.0);}
	75% {-webkit-transform: scale(1.1);}
	100% {-webkit-transform: scale(1.0);}
}

/* ---------------------------------------- SUCCESS PAGE END -------------------------------------- */

/* ---------------------------------------- SUCCESS PAGE Media Queries START -------------------------------------- */

/* ------------------------- 500 px START ------------------------- */

@media screen and (max-width: 500px) {
	
	.success1{
		width: 90vw;
	}
	.s1 {
		width: 80%;
		height: auto;
	}
	.s2 {
		font-size: 150%;
	}
	.success2 {
		font-size: 125%;
	}
	.success4 {
		font-size: 125%;
	}
}

/* ------------------------- 500 px END ------------------------- */

/* ------------------------- 400 px START ------------------------- */

@media screen and (max-width: 400px) {
	
	.success1{
		width: 90vw;
	}
	.s1 {
		width: 80%;
		height: auto;
	}
	.success2 {
		font-size: 100%;
	}
	.success4 {
		font-size: 100%;
	}
}

/* ------------------------- 400 px END ------------------------- */

/* ------------------------- 320 px START ------------------------- */

@media screen and (max-width: 320px) {
	
	.s2 {
		font-size: 125%;
	}
	.success2 {
		font-size: 90%;
	}
}

/* ------------------------- 320 px END ------------------------- */

/* ---------------------------------------- SUCCESS PAGE Media Queries END -------------------------------------- */




