html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
body {
	opacity: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: rgba(123, 206, 255, 0); /* #7bceffff; */
	font-family: "century-gothic", sans-serif;
	font-style: normal;
	
	-ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
	scrollbar-width: none;  /* Hide scrollbar for Firefox */
	
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
}

body.fade {
	opacity: 0;
}

::-webkit-scrollbar {
	display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

/* -------------------- MAIN fade START ------------------ */ 


main {
	opacity: 1;
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
}

main.fade {
	opacity: 0;
}


/* -------------------- MAIN fade END ------------------ */ 


.pagewrap {
	flex-grow: 1;  /* https://css-tricks.com/couple-takes-sticky-footer/ */ /* combined with footer vh */
}	
.centersize {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background-color: #000000;
	position: fixed;
	top: 0;
	z-index: 99999999;
	height: 1.75vw;
	width: 10%;
}
.header svg {
	width: auto;
	height: 1.75vw;
	margin-top: 0.25vh;

}


/* --------------Rainbow Logo Section START ------------------ */


#path812-5 {
	opacity: 0;
	animation: ColorRainbow0 0.25s forwards;
	-webkit-animation: ColorRainbow0 0.25s forwards;
}
@keyframes ColorRainbow0 {
	0% {fill: #000000; opacity: 0;}
	100% {fill: #ffffff; opacity: 1;}
}
@-webkit-keyframes ColorRainbow0 {
	0% {-webkit-fill: #000000; opacity: 0;}
	100% {-webkit-fill: #ffffff; opacity: 1;}
}

#path816-3-7 {
	visibility: hidden;
	fill: #ffffff;
	stroke: #ffffff;
	animation: ColorRainbow1 0.5s 0.14s forwards;
	-webkit-animation: ColorRainbow1 0.5s 0.14s forwards;
}
@keyframes ColorRainbow1 {
	0% {fill: #ffffff; stroke: #ffffff; visibility: hidden;}
	50% {fill: #ff7b7bff;}
	100% {fill: #000000; stroke: #ffffff; visibility: visible;}
}
@-webkit-keyframes ColorRainbow1 {
	0% {-webkit-fill: #ffffff; stroke: #ffffff; visibility: hidden;}
	50% {-webkit-fill: #ff7b7bff;}
	100% {-webkit-fill: #000000; stroke: #ffffff; visibility: visible; }
}

#path814-2-0 {
	visibility: hidden;
	fill: #000000;
	animation: ColorRainbow2 0.5s 0.28s forwards;
	-webkit-animation: ColorRainbow2 0.5s 0.28s forwards;
}
@keyframes ColorRainbow2 {
	0% {fill: #000000; visibility: hidden;}
	50% {fill: #ffce75ff;}
	100% {fill: #000000; visibility: visible;}
}
@-webkit-keyframes ColorRainbow2 {
	0% {-webkit-fill: #000000; visibility: visible;}
	50% {-webkit-fill: #ffce75ff;}
	100% {-webkit-fill: #000000; visibility: visible;}
}

#path814-2-7-9-0 {
	animation: ColorRainbow3 0.5s 0.42s forwards;
	-webkit-animation: ColorRainbow3 0.5s 0.42s forwards;
}
@keyframes ColorRainbow3 {
	0% {fill: #000000;}
	50% {fill: #fff788ff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow3 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #fff788ff;}
	100% {-webkit-fill: #ffffff;}
}

#path3 {
	animation: ColorRainbow4 0.5s 0.56s forwards;
	-webkit-animation: ColorRainbow4 0.5s 0.56s forwards;
}
@keyframes ColorRainbow4 {
	0% {fill: #000000;}
	50% {fill: #cbff95ff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow4 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #cbff95ff;}
	100% {-webkit-fill: #ffffff;}
}

#path814-2-7-5 {
	animation: ColorRainbow5 0.5s 0.7s forwards;
	-webkit-animation: ColorRainbow5 0.5s 0.7s forwards;
}
@keyframes ColorRainbow5 {
	0% {fill: #000000;}
	50% {fill: #7de5e6ff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow5 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #7de5e6ff;}
	100% {-webkit-fill: #ffffff;}
}

#rect1780-16-6-1-2-8 {
	animation: ColorRainbow6 0.5s 0.84s forwards;
	-webkit-animation: ColorRainbow6 0.5s 0.84s forwards;
}
@keyframes ColorRainbow6 {
	0% {fill: #000000;}
	50% {fill: #7bceffff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow6 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #7bceffff;}
	100% {-webkit-fill: #ffffff;}
}

#path814-2-7-2 {
	animation: ColorRainbow7 0.5s 1s forwards;
	-webkit-animation: ColorRainbow7 0.5s 1s forwards;
}
@keyframes ColorRainbow7 {
	0% {fill: #000000;}
	50% {fill: #b1b3ffff;}
	100% {fill: #ffffff;}
}
@-webkit-keyframes ColorRainbow7 {
	0% {-webkit-fill: #000000;}
	50% {-webkit-fill: #b1b3ffff;}
	100% {-webkit-fill: #ffffff;}
}



/* --------------Rainbow Logo Section END ------------------ */



.navbox {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	z-index: 99999;
	background-color: #000000;
}
#largenav {
	visibility: visible;
}
#navshow {
	visibility: hidden;
	display: none;
}
#nav {
	background-color: #000000;
	height: auto;
}
#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#nav ul li {
	float: left;
	width: 14.285714285714285714285714285714%;
}
#nav ul li a {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.75vw;
	/* font-size: 2em; */
	margin: 0;
	padding: 0;
}
.navhover {
	-webkit-transition: .20s ease-in-out;
	-moz-transition: .20s ease-in-out;
	-o-transition: .20s ease-in-out;
	transition: .20s ease-in-out;
}

#home {
	-webkit-transition: .20s ease-in-out;
	-moz-transition: .20s ease-in-out;
	-o-transition: .20s ease-in-out;
	transition: .20s ease-in-out;
}

#home:hover {
	color: #ff7b7bff;
}

#about:hover {
	color: #ffce75ff;
} 
#words:hover {
	color: #fff788ff;
}
#logos:hover {
	color: #cbff95ff;
}
#photos:hover {
	color: #7de5e6ff;
}
#art {
	animation: pagelight 1s 0.5s forwards;
	-webkit-animation: pagelight 1s 0.5s forwards;

}
@keyframes pagelight {
	0% {background-color: black; color: white;}
	100% {background-color: #7bceffff; color: black;}
}
@-webkit-keyframes pagelight {
	0% {-webkit-background-color: black; color: white;}
	100% {-webkit-background-color: #7bceffff; color: black;}
}

#art.reverse {
	animation: pagedark 0.5s forwards;
	-webkit-animation: pagedark 0.5s forwards;
}

@keyframes pagedark {
	0% {background-color: #7bceffff; color: black;}
	100% {background-color: black; color: white;}
}
@-webkit-keyframes pagedark {
	0% {-webkit-background-color: #7bceffff; color: black;}
	100% {-webkit-background-color: black; color: white;}
}


#contact:hover {
	color: #b1b3ffff;
}
.dropclick {
	visibility: hidden;
	z-index: 9999999;
}

/* ---------------- ARTICLE section START ------------------- */

.gridcontainer1 {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(auto-fit, minmax(75vh, 1fr));  /*  https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
	background-color: transparent;
	margin-top: 8%;
	margin-bottom: 3%;
	opacity: 1;

}

.gridcontainer1:nth-child(2), .gridcontainer1:nth-child(3), .gridcontainer1:nth-child(4), .gridcontainer1:nth-child(5) {
	margin-top: 3%;
}

.gridcontainer1 picture img {
	width: 75vh;
	height: 75vh;
	margin-top: 0;
	margin-bottom: 0;
	object-fit: cover;
	border: 1.25rem white solid;
	box-shadow: 6px 6px 11px -3px silver;
}

.bubbleup0, .bubbleup1, .bubbleup2, .bubbleup3, .bubbleup4, .bubbleup5, .bubbleup6, .bubbleup7 {
	opacity: 0;
	-webkit-transition: .20s ease-in-out;
	-moz-transition: .20s ease-in-out;
	-o-transition: .20s ease-in-out;
	transition: .20s ease-in-out;
}

.bubbleup0:nth-child(1) {opacity: 0; animation: bubbleup 1s 0.5s forwards; -webkit-animation: bubbleup 1s 0.5s forwards;}
.bubbleup0:nth-child(2) {opacity: 0; animation: bubbleup 1s 1.75s forwards; -webkit-animation: bubbleup 1s 1.75s forwards;}
.bubbleup0:nth-child(3) {opacity: 0; animation: bubbleup 1s 3s forwards; -webkit-animation: bubbleup 1s 3s forwards;}
.bubbleup0:nth-child(4) {opacity: 0; animation: bubbleup 1s 4.25s forwards; -webkit-animation: bubbleup 1s 4.25s forwards;}
.bubbleup0:nth-child(5) {opacity: 0; animation: bubbleup 1s 5.5s forwards; -webkit-animation: bubbleup 1s 5.5s forwards;}

.bubbleup1:nth-child(1) {opacity: 0; animation: bubbleup 1s 0.75s forwards; -webkit-animation: bubbleup 1s 0.75s forwards;}
.bubbleup1:nth-child(2) {opacity: 0; animation: bubbleup 1s 1s forwards; -webkit-animation: bubbleup 1s 1s forwards;}
.bubbleup1:nth-child(3) {opacity: 0; animation: bubbleup 1s 1.25s forwards; -webkit-animation: bubbleup 1s 1.25s forwards;}
.bubbleup1:nth-child(4) {opacity: 0; animation: bubbleup 1s 1.5s forwards; -webkit-animation: bubbleup 1s 1.5s forwards;}
.bubbleup1:nth-child(5) {opacity: 0; animation: bubbleup 1s 1.75s forwards; -webkit-animation: bubbleup 1s 1.75s forwards;}
.bubbleup2:nth-child(1) {opacity: 0; animation: bubbleup 1s 2s forwards; -webkit-animation: bubbleup 1s 2s forwards;}
.bubbleup2:nth-child(2) {opacity: 0; animation: bubbleup 1s 2.25s forwards; -webkit-animation: bubbleup 1s 2.25s forwards;}
.bubbleup2:nth-child(3) {opacity: 0; animation: bubbleup 1s 2.5s forwards; -webkit-animation: bubbleup 1s 2.5s forwards;}
.bubbleup2:nth-child(4) {opacity: 0; animation: bubbleup 1s 2.75s forwards; -webkit-animation: bubbleup 1s 2.75s forwards;} 
.bubbleup2:nth-child(5) {opacity: 0; animation: bubbleup 1s 3s forwards; -webkit-animation: bubbleup 1s 3s forwards;;}
.bubbleup3:nth-child(1) {opacity: 0; animation: bubbleup 1s 3.25s forwards; -webkit-animation: bubbleup 1s 3.25s forwards;}
.bubbleup3:nth-child(2) {opacity: 0; animation: bubbleup 1s 3.5s forwards; -webkit-animation: bubbleup 1s 3.5s forwards;}
.bubbleup3:nth-child(3) {opacity: 0; animation: bubbleup 1s 3.75s forwards; -webkit-animation: bubbleup 1s 3.75s forwards;}
.bubbleup3:nth-child(4) {opacity: 0; animation: bubbleup 1s 4s forwards; -webkit-animation: bubbleup 1s 4s forwards;}
.bubbleup3:nth-child(5) {opacity: 0; animation: bubbleup 1s 4.25s forwards; -webkit-animation: bubbleup 1s 4.25s forwards;}
.bubbleup4:nth-child(1) {opacity: 0; animation: bubbleup 1s 4.5s forwards; -webkit-animation: bubbleup 1s 4.5s forwards;}
.bubbleup4:nth-child(2) {opacity: 0; animation: bubbleup 1s 4.75s forwards; -webkit-animation: bubbleup 1s 4.75s forwards;}
.bubbleup4:nth-child(3) {opacity: 0; animation: bubbleup 1s 5s forwards; -webkit-animation: bubbleup 1s 5s forwards;}
.bubbleup4:nth-child(4) {opacity: 0; animation: bubbleup 1s 5.25s forwards; -webkit-animation: bubbleup 1s 5.25s forwards;}
.bubbleup4:nth-child(5) {opacity: 0; animation: bubbleup 1s 5.5s forwards; -webkit-animation: bubbleup 1s 5.5s forwards;}
.bubbleup5:nth-child(1) {opacity: 0; animation: bubbleup 1s 5.75s forwards; -webkit-animation: bubbleup 1s 5.75s forwards;}
.bubbleup5:nth-child(2) {opacity: 0; animation: bubbleup 1s 6s forwards; -webkit-animation: bubbleup 1s 6s forwards;}
.bubbleup5:nth-child(3) {opacity: 0; animation: bubbleup 1s 6.25s forwards; -webkit-animation: bubbleup 1s 6.25s forwards;}
.bubbleup5:nth-child(4) {opacity: 0; animation: bubbleup 1s 6.5s forwards; -webkit-animation: bubbleup 1s 6.5s forwards;}
.bubbleup5:nth-child(5) {opacity: 0; animation: bubbleup 1s 6.75s forwards; -webkit-animation: bubbleup 1s 6.75s forwards;}
.bubbleup6:nth-child(1) {opacity: 0; animation: bubbleup 1s 7s forwards; -webkit-animation: bubbleup 1s 7s forwards;}
.bubbleup6:nth-child(2) {opacity: 0; animation: bubbleup 1s 7.25s forwards; -webkit-animation: bubbleup 1s 7.25s forwards;}
.bubbleup6:nth-child(3) {opacity: 0; animation: bubbleup 1s 7.5s forwards; -webkit-animation: bubbleup 1s 7.5s forwards;}
.bubbleup6:nth-child(4) {opacity: 0; animation: bubbleup 1s 7.75s forwards; -webkit-animation: bubbleup 1s 7.75s forwards;}
.bubbleup6:nth-child(5) {opacity: 0; animation: bubbleup 1s 8s forwards; -webkit-animation: bubbleup 1s 8s forwards;}
.bubbleup7:nth-child(1) {opacity: 0; animation: bubbleup 1s 8.25s forwards; -webkit-animation: bubbleup 1s 8.25s forwards;}
.bubbleup7:nth-child(2) {opacity: 0; animation: bubbleup 1s 8.5s forwards; -webkit-animation: bubbleup 1s 8.5s forwards;}
.bubbleup7:nth-child(3) {opacity: 0; animation: bubbleup 1s 8.75s forwards; -webkit-animation: bubbleup 1s 8.75s forwards;}
.bubbleup7:nth-child(4) {opacity: 0; animation: bubbleup 1s 9s forwards; -webkit-animation: bubbleup 1s 9s forwards;}
.bubbleup7:nth-child(5) {opacity: 0; animation: bubbleup 1s 9.25s forwards; -webkit-animation: bubbleup 1s 9.25s forwards;}


@keyframes bubbleup {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes bubbleup {
	0% {-webkit-opacity: 0;}
	100% {-webkit-opacity: 1;}
}

.gridcontainer2 {
	display: grid;
	justify-items: center;
	grid-template-columns: auto auto;  /*  https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
	background-color: transparent;
	margin-top: 0;
	margin-bottom: 3%;
	opacity: 1;
	grid-column-gap: 0.35em;

}

.gridcontainer2 picture img {
	width: 37.175vh;  /*  37.243876vh;  */
	height: 37.175vh;  /*  37.243876vh;  */
	filter: grayscale(100%);
}

.gridcontainer2 picture img:hover {
	filter: grayscale(0);
}



/* ---------------- ARTICLE section END ------------------- */


footer {
	/* margin-top: 3vh; */
	width: 100%;
	height: 3vh;
	line-height: 3vh;
	font-size: 2.5vh;
	text-align: center;
	font-weight: bold;
	color: white;
	background-color: #000000;
	
	
	opacity: 1;
	animation: pagelight5 1.5s;
	-webkit-animation: pagelight5 1.5s;
	
	
	transition: opacity 0.5s ease-out;
	-webkit-transition: opacity 0.5s ease-out;
	
	
}

@keyframes pagelight5 {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-webkit-keyframes pagelight5 {
	0% {-webkit-opacity: 0;}
	100% {-webkit-opacity: 1;}
}

footer.fade {
	opacity: 0;
}

.rainbow {
	background: linear-gradient(50deg, #fbf788ff, #e8f788ff, #cbff95ff, #a2ffb2ff, #7df7c3ff, #7df0e6ff, #7de5eeff, #7df0e6ff, #7df7c3ff, #a2ffb2ff, #cbff95ff, #e8f788ff);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	background-size: 50% 50%;   /* or 300% */	
	animation: rainbow 30s ease-in-out infinite;
	-webkit-animation: rainbow 30s infinite;
}

@keyframes rainbow {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
@-webkit-keyframes rainbow {
	0% {-webkit-background-position: 0 50%;}
	50% {-webkit-background-position: 100% 50%;}
	100% {-webkit-background-position: 0 50%;}
}


/* https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */


/* ---------------------------------------------------- MEDIA Queries Medium START -------------------------------------------------------- */

/* ------------------------- 1200 px START ------------------------- */

@media screen and (max-width: 1200px) {
	
	.gridcontainer1 {
		grid-template-columns: 1fr; 
	}

	.gridcontainer1 picture img {
		width: 60vw;
		height: auto;
	}
	
	.gridcontainer2 picture img {
		width: 29.74vw; 
		height: auto; 
	}

}

/* ------------------------- 1200 px END ------------------------- */


/* ---------------------------------------------------- MEDIA Queries Medium END -------------------------------------------------------- */
